[submodule "armory"]
	path = armory
	url = https://github.com/armory3d/armory
[submodule "iron"]
	path = iron
	url = https://github.com/armory3d/iron
[submodule "lib/haxebullet"]
	path = lib/haxebullet
	url = https://github.com/armory3d/haxebullet
[submodule "lib/haxerecast"]
	path = lib/haxerecast
	url = https://github.com/armory3d/haxerecast
[submodule "lib/iron_format"]
	path = lib/iron_format
	url = https://github.com/armory3d/iron_format
[submodule "lib/zui"]
	path = lib/zui
	url = https://github.com/armory3d/zui
[submodule "Kha"]
	path = Kha
	url = https://github.com/armory3d/Kha
[submodule "nodejs"]
	path = nodejs
	url = https://github.com/armory3d/nodejs_bin
[submodule "lib/armory_tools"]
	path = lib/armory_tools
	url = https://github.com/armory3d/armory_tools
[submodule "Krom"]
	path = Krom
	url = https://github.com/armory3d/Kromx_bin
